.navbar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    height: 80px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}
.logo {
    width: 300px;
}
.loginSignUp_button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    /* color: white; */
    padding: 12px 20px;
    font-size: 14px;
    position: relative;
    z-index: 100;
    letter-spacing: 2px;
    cursor: pointer;
}
